@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<form method="post">
    <div class="row">
        <input type="submit" value="Press here" class="btn btn-default" />
        <p>
            PDF document wil be created at 'c:\temp\' folder.
        </p>
    </div>
</form>